* {
    outline: 1px solid tomato--;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    line-height: 100px;
}

#header h1 {
    font-size: 0;
}

/* #header h1 a {
    width: 200px;
} */

#header .inner {
    display: flex;
    align-items: center;
}

#header .inner>* {
    flex: 1;
}

#header .inner .gnb>ul {
    display: flex;
    gap: 40px;
}


#header .inner .gnb>ul>li>a {
    font-size: 18px;
    font-weight: 500;
}

#header .inner .util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

#header .inner .util a {
    font-size: 24px;
    /* gap: 16px; */
}

/* .mainVisual {
    position: relative;
} */

.mainVisual .visual_slide .itm {
    position: relative;
    height: 600px;
}

.mainVisual .visual_slide .itm01 {
    background: url(../images/mainBanner_001.jpg)no-repeat center center/cover;
}

.mainVisual .visual_slide .itm02 {
    background: url(../images/mainBanner_002.jpg)no-repeat center center/cover;
}

.mainVisual .visual_slide .itm03 {
    background: url(../images/mainBanner_003.jpg)no-repeat center center/cover;
}

.mainVisual .visual_slide .itm04 {
    background: url(../images/mainBanner_004.jpg)no-repeat center center/cover;
}

.mainVisual .visual_slide .itm05 {
    background: url(../images/mainBanner_005.jpg)no-repeat center center/cover;
}

.mainVisual .visual_slide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    /* padding: 0 15px; */
}

.mainVisual .visual_slide .slogan strong img {
    margin: 0 0 32px 0;
}

.mainVisual .visual_slide .slogan p {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 32px 0;
}

.mainVisual .visual_slide .slogan span {
    font-size: 28px;
    font-weight: 500;
}

.mainVisual .visual_slide .itm03 .slogan p {
    color: #fff;
}

.mainVisual .visual_slide .itm03 .slogan span {
    color: #fff;
}

.mainContent .inner {
    display: flex;
    justify-content: space-between;
}

.mainContent .right {
    display: flex;
    width: 870px;
    gap: 30px;
}

.mainTab .inner .tit {
    display: flex;
    justify-content: space-between;

}

.mainTab .main_tab {
    display: flex;
    gap: 60px;
}

.mainTab .tab_inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
}

.mainTab .tab_inner img {
    width: 100%;
}

.tab_content .content {
    display: none;
}

.tab_content .content.on {
    display: block;
}

.mainPromo {
    background: #f9f9f9;
}

.mainPromo a img {
    background: url(../images/);
}


.mainPromo .inner {
    display: flex;
    justify-content: space-between;
}

.mainPromo .inner .left title {
    white-space: nowrap;
}

.mainPromo .right {
    display: flex;
    width: 700px;
    gap: 50px;
}

.mainPromo .right .itm figure img {
    border: none;
    border-radius: 50%;
}

.mainVideo .inner {
    display: flex;
}

.mainVideo .left_movie {
    margin: 0 64px 0 0;
}

.mainVideo .left_movie .utb {
    
}

.mainVideo .left_movie iframe {
    text-align: center;
}

#footer {
    padding: 50px 0 70px 0;
}

#footer .inner {
    display: flex;
}

#footer .customer_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .customer_area ul {
    display: flex;
    gap: 20px;
    margin: 0 0 32px 0;
}

#footer .customer_area ul>li a {
    font-size: 14px;
    line-height: 60px;
}